.graph-bitwise {
  border: 1px solid blue;
  min-height: 36px;
  max-height: 36px;
}

.min-width-fit {
  min-width: fit-content;
}

.bitwise-graph-box {
  width: auto;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
